#log_html #header-container{
    width: 100%;
    height: 10%;
    margin-bottom: 60px;
}

#logs-grid{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.log-grid-element{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(228, 228, 227);  
    font-size: 2.3vh;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.log-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80%;
    height: auto;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.log-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 30px;
}

.card-title {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 3vh;
    text-align: center;
    font-weight: bold;
    font-size: 2.3vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px;
}
.title-container {
    grid-column: 2/2;
}

.log-entry{
    width: 100%;
    text-align: center;
    margin-top: 7px;
}

.delete-log{
    grid-column: 3/3;
}
