*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 30px;
    justify-content: flex-start;
    background-color: #FFFCFF;
    width: 96vw;
    height: auto;
    padding-bottom: 100px;
    margin-bottom: 50px;
}

.mobile-nav {
    background: #F1F1F1;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 96%;
    display: flex;
    justify-content: space-around;
}
.icon {
display: flex;
justify-content: center;
align-items: center;
}

.icon img {
    width: 45px;
}

