*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 30px;
    justify-content: flex-start;
    background-color: #FFFCFF;
    width: 96vw;
    height: auto;
    padding-bottom: 100px;
    margin-bottom: 50px;
}


header {
    color: black;
    height: auto;
    margin-bottom: 30px;
    align-self: center;
}
h1 {
    justify-self: top;
}

#date{
    text-align: center;
    margin-top: -20px;
}
.container {
  
    width: 100%;
    height: 100%;
}

.exercise {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    align-self: center;
    padding: 5px;
    border: black solid 1px;
    border-radius: 5px;
    margin-bottom: 30px;
}
input{
    border: none;
    background-color:rgb(228, 228, 227);
    border-radius: 5px;
    text-align: center;
    font-size: 2vh;
}
.log {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    height: auto;
    width: 96%;
    margin-top: 10px;
    gap: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.log div{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 2vh;
}
.log input {
    width: 14vw;
    justify-self: center;
}
.log button {
    justify-self: end;
    font-size: 1.7vh;
    width: 7vw;
    background-color: crimson;
    text-align: center;
}

.exercise-control {
    display: grid;
    gap: 5px;
    width: 96%;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);    
}

button {
    border: black;
    border-radius: 5px;
    width: 7vw;
    min-width: 30px;
    height: 3vh;
    text-align: center;
}
.delete-exercise {
    justify-self: end;
    color: black;
    background-color: crimson;
    font-size: 2vh;
    
}
.button-container{
    width: 99%;
    margin-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.finish-exercise {
    width: 46%;
    margin-top: 10px;
    background-color:mediumseagreen
}

.save-exercise {
    background-color: mediumseagreen;
    justify-self: center;
}

.add-set {
    width: 46%;
    margin-top: 10px;
    background-color: cornflowerblue;
}

.add-exercise {
    position: fixed;
    bottom: 10%;
    right: auto;
    color: #FFFCFF;
    width: 16%;
    height: 6vh;
    font-size: 5vh;
    margin-top: 30px;
    background-color: black;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-radius: 30px; 
}

#text-box {
    text-align: center;
}

.exercise-input {
    width: 90%;
}

.text-container input{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

